<div style="clear:both"></div>
</div>
<footer >
  <div class="narrow">
    <h1>Wanna talk?</h1>
    <ul>
      <li class="fa fa-comment"><a href="{{ site.baseurl }}/contact/">Contact Us</a></li>
    </ul>
    <h1>Social Media</h1>
    <ul>
      <li class="fa fa-twitter"><a href="{{ site.twitter }}">@photokandy</a></li>
      <li class="fa fa-adn"><a href="{{ site.appnet }}">@photokandy</a></li>
      <li class="fa fa-google-plus"><a href="{{ site.googlePlus }}">Google+</a></li>
      <li class="fa fa-facebook"><a href="{{ site.facebook }} ">Facebook</a></li>
      <li class="fa fa-flickr"><a href="{{ site.flickr }} ">Flickr</a></li>
      <li class="fa fa-behance"><a href="{{ site.behance }}">Behance</a></li>
      <li class="fa fa-tumblr"><a href="{{ site.tumblr }}">Tumblr</a></li>
      <li class="fa fa-youtube"><a href="{{ site.youtube }}">YouTube</a></li>
      <li class="fa fa-soundcloud"><a href="{{ site.soundcloud }}">SoundCloud</a></li>
    </ul>
    <h1>Coding</h1>
    <ul>
      <li class="fa fa-github"><a href="{{ site.github }} ">GitHub</a></li>
      <li class="fa fa-square coderwall"><a href="{{ site.coderwall  }} ">CoderWall</a></li>
      <li class="fa fa-stack-overflow"><a href="{{ site.stackOverflow }} ">Stack Overflow</a></li>
      <li class="fa fa-square ohloh"><a href="{{ site.ohloh }} ">Ohloh</a></li>
      <li class="fa fa-square phonegap"><a href="{{ site.phonegapForums }}">PhoneGap Forum</a></li>
    </ul>
    <h1>Subscribe</h1>
    <ul>
      <li class="fa fa-rss"><a href="{{ site.baseurl }}/feed.xml">Blog RSS</a></li>
    </ul>
  </div>
  <div class="narrow">
    <h1>Services</h1>
    <ul>
      <li><a href="{{ site.baseurl }}/services/app-design/">Mobile App Design</a></li>
      <li><a href="{{ site.baseurl }}/services/website-design/">Website Design</a></li>
      <li><a href="{{ site.baseurl }}/services/graphic-design/">Graphic Design</a></li>
      <li><a href="{{ site.baseurl }}/services/consulting/">IT Consulting</a></li>
    </ul>
    <h1>Books</h1>
    <ul>
      <li><a href="{{ site.baseurl }}/books/phonegap-3-x-hotshot/">PhoneGap 3.x Hotshot</a></li>
      <li><a href="{{ site.baseurl }}/books/phonegap-2-x-hotshot/">PhoneGap 2.x Hotshot</a></li>
      <li><a href="{{ site.baseurl }}/books/instant-social-app/">Instant Social App</a></li>
    </ul>
    <h1>Apps</h1>
    <ul>
      <li><a href="{{ site.baseurl }}/apps/gib/">Greek Interlinear Bible</a></li>
    </ul>
    <h1>Projects</h1>
    <ul>
      <li><a href="{{ site.baseurl }}/projects/yasmf-next/">YASMF-Next</a></li>
      <li><a href="{{ site.baseurl }}/projects/phonegap-plugins/">PhoneGap Plugins</a></li>
      <li><a href="{{ site.baseurl }}/projects/gbible-source/">Greek Interlinear Bible</a></li>
    </ul>
  </div>
  <div class="wide">
    <h1>Legal Stuff</h1>
    <p>Site design and content &copy; 2014 photoKandy Studios LLC. All Rights Reserved. Use of this site
    constitutes your agreement to the <a href="{{ site.baseurl }}/terms/">terms of use</a>.
    </p>
    <p>Any resources made available on this site are to be used at your own risk. We are not responsible
    for the use, misuse, or abuse of this site or any of its contents.</p>
  </div>
</footer>
</div>
<script>
  APP.start();
</script>
